:root {
--darkgreen: #134611;
--truegreen: #3E8914;
--sagegreen: #7FB069;
--lightbrown: #E3C594;
--medbrown: #99621E;
}

* {
    font-family: monospace;
}

body{
    background-color: var(--lightbrown);
}

.title-text {
    padding: .5% 20% .5% 20%;
    margin-bottom: 3%;
    color: white;
    background-color: var(--medbrown);
    text-align: center;
    font-size: 1.6rem;
    box-shadow: 1px 1px 6px var(--medbrown);
}

.btn-style {
    background-color: var(--medbrown);
    color: white;
    border: 1px solid white;
    margin: .2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.form-style {
    border-radius: 30px;
}

.form-header {
    font-size: 1.5rem;
}

.input-style {
   border-radius: 7px;
   width: 300px;
}

.comment-div {
    display: flex;
    justify-content: center;
}

.uproots {
    padding-bottom: 0;
}

.uproot-style {
    padding: 1% 0% 0% 12%;
}

.comment-input {
    border-top-left-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
    width: 60%;
}

.comment-btn {
    width: 15%;
    background-color: var(--darkgreen);
    color: white;
    border-radius: 10px;
    font-size: 1rem;
}

.form-btn {
    background-color: var(--darkgreen);
    color: white;
    border-radius: 10px;
    width: 180px;
}

.cloudinary-button {
    background-color: var(--sagegreen) !important;
}

.comment-style {
    border: 2px solid black;
    justify-content:space-between;
    border-radius: 10px;
    background-color: var(--sagegreen);
    padding: .4rem;
    margin: 0% 12% 0% 12%;
}

.post-card {
    margin: 1% 10% 0% 10%;
    border: 4px solid black;
    border-radius: 15px;
    background-color: var(--sagegreen);
}

.plant-div {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 1px 1px 13px var(--medbrown);
    border: 2px solid black;
    margin-bottom: 30px;
}

.navbar {
    justify-content: flex-end;
}

.upVote {
    border-radius: 100px;
    border: 1px solid black;
    padding-left: 3px;
}

.upvote:hover {
    opacity: 75%;
}

.username-style {
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
    opacity: 75%;
}

.trash-plant {
    align-self: flex-end;
    padding: 10px 15px 0px 0px;
}

.search-profile {
    margin-top: 3rem;
}

.about-carousel-img { 
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}