<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seeded</title>
</head>
<body>
    <header>
    {{!-- If else statement for if logged in, to display search bar and logout button, profile button and 'add plant' button. Else, include login and signup buttons with NO SEARCH BAR --}}
    {{!-- Logo will be on ALL pages, irregardless of logged in or not--}}
    {{!-- Login --}}
    {{!-- Signup --}}
    <a href="#" id="logout-link">Logout</a>
    </header>
{{{body}}}
<script src="/js/logout.js"></script>
</body>
</html>