<h1 class="title-text">About Us</h1>

<h3 class="dev-team">What is Seeded?</h3>
<div class="d-flex justify-content-center">
  <div class="about-par col-sm-6 col-md-8 col-lg-8 col-xl-8">
    <p>A community-driven application for plant lovers and their plants.<br>Post pictures of your plants to host in your Greenhouse and visit the Community Garden page to view other's plants.<br><br>The plant and gardening world is growing, and we want you to grow along with us.<br><br>Come <strong><em>seed</em></strong> what we're all about.</p>
    <img src="/assets/pottedplant.png" style="margin-bottom: 1rem;" width="40px" height="40px" alt="">
  </div>
</div>
<h3 class="dev-team">Meet the Dev Team</h3>
<div
  id="carouselExampleIndicators"
  class="carousel slide mx-auto col-sm-12 col-md-8 col-lg-4"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="about-carousel-img">
        <img src="/assets/sabrina.jpeg" class="d-block w-100" alt="Image of Sabrina Hanson, one of the developers" />
      </div>
      <div class="carousel-caption">
        <h5>Sabrina Hanson</h5>
        <p>One-trick peony. 🌺</p>
        <p>
          <a href="http://www.github.com/425megs" target="_blank">Github</a>
          |
          <a href="mailto:425megs@gmail.com">Email</a>
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="about-carousel-img">
        <img src="/assets/isaac.jpg" class="d-block w-100" alt="Image of Isaac Petersen, one of the developers" />
      </div>
      <div class="carousel-caption">
        <h5>Isaac Petersen</h5>
        <p>You've been bamboo-zled. 🎋</p>
        <p>
          <a href="http://www.github.com/425megs" target="_blank">Github</a>
          |
          <a href="mailto:425megs@gmail.com">Email</a>
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="about-carousel-img">
        <img src="/assets/andrew.jpg" class="d-block w-100" alt="Image of Andrew Tran, one of the developers" />
      </div>
      <div class="carousel-caption">
        <h5>Andrew Tran</h5>
        <p>I'm a whole Monstera. 🌿</p>
        <p>
          <a href="http://www.github.com/425megs" target="_blank">Github</a>
          |
          <a href="mailto:425megs@gmail.com">Email</a>
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="about-carousel-img">
        <img src="/assets/megan.jpeg" class="d-block w-100" alt="Image of Megan McLean, one of the developers" />
      </div>
      <div class="carousel-caption">
        <h5>Megan McLean</h5>
        <p>Petal to the metal. 🌷</p>
        <p>
          <a href="http://www.github.com/425megs" target="_blank">Github</a>
          |
          <a href="mailto:425megs@gmail.com">Email</a>
        </p>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<script src="/js/landingPage.js"></script>