<h1 class="title-text">About Us</h1>

<h3 class="dev-team">Our Story</h3>
<div class="d-flex justify-content-center">
  <div class="about-par col-sm-6 col-md-10 col-lg-10">
    <p>Have you ever scrolled through your social medias and all you saw were
      pictures of peoples breakfast burritos and mimosas? Tired of seeing
      Jessica's selfies or pictures of all your friend's teenage honor-roll
      kids? Hayden, Jayden, Kayden and Layden? Yeah, cats, dogs and other pets
      are cool but how about some Calathea? Can we get Monstera Mondays
      trending? How about Fiddle Leaf Fig Fridays? The plant and gardening world
      is growing. In 2010, plants generated only 600k instances for all social
      media posts. In 2018, that number grew to 3.7m. For the Google Search
      trends of 2021, "How to move with plants" was searched more than "How to
      move with kids" and "How to move with pets" globally. Ladies, gentlemen,
      and all plant enthusiasts alike, we have the application for you: Seeded.</p>
  </div>
</div>
<h3 class="dev-team">Meet the Dev Team</h3>
<div
  id="carouselExampleIndicators"
  class="carousel slide mx-auto col-sm-12 col-md-8 col-lg-4"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="0"
      class="active"
    ></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="about-carousel-img">
        <img src="/assets/sabrina.jpeg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-caption">
        <h5>Sabrina Hanson</h5>
        <p>One-trick peony.</p>
        <p>
          <a href="http://www.github.com/425megs" target="_blank">Github</a>
          |
          <a href="mailto:425megs@gmail.com">Email</a>
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="about-carousel-img">
        <img src="/assets/isaac.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-caption">
        <h5>Isaac Petersen</h5>
        <p>You've been bamboo-zled.</p>
        <p>
          <a href="http://www.github.com/425megs" target="_blank">Github</a>
          |
          <a href="mailto:425megs@gmail.com">Email</a>
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="about-carousel-img">
        <img src="/assets/andrew.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-caption">
        <h5>Andrew Tran</h5>
        <p>I'm a whole Monstera.</p>
        <p>
          <a href="http://www.github.com/425megs" target="_blank">Github</a>
          |
          <a href="mailto:425megs@gmail.com">Email</a>
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <div class="about-carousel-img">
        <img src="/assets/megan.jpeg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-caption">
        <h5>Megan McLean</h5>
        <p>Petal to the metal.</p>
        <p>
          <a href="http://www.github.com/425megs" target="_blank">Github</a>
          |
          <a href="mailto:425megs@gmail.com">Email</a>
        </p>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<script src="/js/landingPage.js"></script>