<h1>Welcome to the dashboard</h1>
<button id="upload_widget" class="cloudinary-button">Upload files</button>
{{!-- <div id="cloudinary-gallery"> --}}
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

<script type="text/javascript">  
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'megs425', 
  uploadPreset: 'qnl1uzql', 
  tag: userId
  }, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info); 
    }
  }
)

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
</script>
{{!-- </div> --}}

 {{!-- 
 want to assign a folder to each user based off user id
 then we can pull that folder when loading users profile feed
 how though :) 
  --}}

{{!-- want to assign a tag to the photo uploaded of the users id, then when we are on the users profile, we pull all images with that tag number. If uploaded to one folder,  --}}


  {{!-- where we render the images, we will need to link
  <script src="https://product-gallery.cloudinary.com/all.js" type="text/javascript">  
</script>
 --}}