{{!-- nav bar for landing page, signup/login options --}}

<div class="wrapper">
  <header class="parallax-body">
    <img src="/assets/plants.png" class="background" />
    <img src="/assets/foreground-flower.png" class="foreground" />
    <div class="dothis">
      <h1 class="title-header">Seeded.</h1>
      <p class="title-caption">an app about plants</p>
      <img
        class="circle"
        src="/assets/landing-logo.png"
        height="100px"
        alt="seeded"
      />
    </div>
  </header>
  <section class="parallax-bottom">
    <div class="d-flex justify-content-center">
      <div class="landing-par col-sm-12 col-md-6 col-lg-6">
        <p>Ready to share your plants with the world?<br />Click the button
          below to get started!</p>
      </div>
    </div>
    <div class="landing-signup-wrapper">
      <button type="button" class="btn btn-style landing-signup">
        <a href="/signup">Sign Up</a>
      </button>
    </div>
    <div class="mx-auto text-center landing-login">
      <a href="/login">Already have an account? Log In here!</a><br>
      <a href="/about">Learn about the Dev Team here!</a>
    </div>
  </section>
</div>

<script src="/js/landingPage.js"></script>