{{!-- Sample images on landing page.--}}
    {{!-- Parallax scrolling will be past MVP --}}

{{!-- Interactive arrow to direct user to scroll down or press --}}
{{!-- Once the user scrolls past a certain point, the form to sign-in card will appear. And then the arrow will move to the top for the user to scroll up --}}
{{!-- Login and Signup buttons on NavBar --}}
{{!-- Import script from public for both login and signup --}}
<h1>You have landed on the homepage, before you sign in.</h1>