{{!-- login card --}}
<h1 class="title-text">Log In</h1>

    <div class="card mx-auto text-center form-style col-sm-12 col-md-6 col-lg-4">
        <div class="card-body d-grid gap-3 login-form justify-content-center">
            <div>
              <input class="input-style" type="text" placeholder="enter your username..." id="username-input-login" />
            </div>
            <div>
              <input class="input-style" type="password" placeholder="enter your password..." id="password-input-login" />
            </div>
            <div class="justify-content-center pb-2">
              <button type="submit" id="login-btn" class="btn form-btn" >Log in</button>
            </div>
        </div>
    </div>
  </div>
</div>
<div class="mx-auto text-center">
  <a href="/signup">Don't have an account? Sign Up here!</a>
</div>

<script src="/js/login.js"></script>