<div class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <button id="upload_widget" class="cloudinary-button">
            <input src='/assets/add.png' class="card-img-top" type="image" id="new=plant-img">
            <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>

            <script type="text/javascript">
                var myWidget = cloudinary.createUploadWidget({
                    cloudName: 'megs425',
                    uploadPreset: 'qnl1uzql'
                }, (error, result) => {
                    console.log(result)
                    uploadPreset: 'ml_default'
                }, (error, result) => {
                    if (!error && result && result.event === "success") {
                        console.log('Done! Here is the image info: ', result.info);
                    }
                }
                )

                document.getElementById("upload_widget").addEventListener("click", function () {
                    myWidget.open();
                }, false);
            </script>
            </input>
        </button>
        <div class="card-body">
            <input type="text" id="new-plant-title" class="card-title" placeholder="Title"></input>
            <input type="text" id="new-plant-caption" class="card-text" placeholder="Caption..."></input>
            <a href="/profile" id="create-plant" class="btn btn-primary">Post</a>
        </div>
    </div>
</div>