
<h1 class="title-text">Add a New Plant</h1>


<div class="card mx-auto text-center form-style col-sm-12 col-md-6 col-lg-4">
    <div class="card-body d-grid gap-3 login-form justify-content-center">
        <div>
            <input type="text" id="new-plant-title" class="card-title input-style" placeholder="plant's name (required)"></input>
        </div>
        <div>
            <input type="text" id="new-plant-caption" class="card-text input-style" placeholder="tell us about your plant! (required)"></input>
        </div>
        <div class="justify-content-center pb-2">
            <button id="upload_widget" class="cloudinary-button">
                <input src='/assets/upload-plant.png' class="card-img-top" type="image" id="new=plant-img" alt="image of a plant with the text, upload a plant on it">
                <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
                <script type="text/javascript">
                    var myWidget = cloudinary.createUploadWidget({
                        cloudName: 'megs425',
                        uploadPreset: 'btvewbfq',
                        cropping: true,
                        croppingAspectRatio: 1,
                        showSkipCropButton: false,
                        sources: ["local", "camera"]
                    }, (error, result) => {
                        console.log(error, result)
                        if (!error && result && result.event === "success") {
                            console.log('Done! Here is the image info: ', result.info);
                            const plantTitle = document.querySelector('#new-plant-title').value
                            const plantCaption = document.querySelector('#new-plant-caption').value
                            const newPlant = {
                                title: plantTitle,
                                caption: plantCaption,
                                file_name: result.info.url,
                            }
                            document.querySelector('#new-plant-title').value = ""
                            document.querySelector('#new-plant-caption').value = ""
                            fetch("/api/plant/", {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json"
                                },
                            body: JSON.stringify(newPlant)
                            })
                        }
                    }
                    )
    
                    document.getElementById("upload_widget").addEventListener("click", function () {
                        myWidget.open();
                    }, false);
                </script>
                </input>
            </button>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <a href="/profile" id="create-plant" class="btn btn-style new-plant-btn">Check out your new plant!</a>
</div>
