<h1 class = 'title-text'>There is no user by that username! Return to the <a href='/'><strong class = 'nouser-link'>Community Garden</strong></a></h1>


<div class="no-user-div">
    <img class="no-user-image col-sm-12 col-md-10 col-lg-10" src="/assets/no_user.jpeg" alt="image of houseplants on shelves">
</div>