

<button type="button" class="btn btn-light"><a href='/profile/newPlant'> +Add </a></button>


{{!-- unique URL: result.info.url  --}}


  {{!-- where we render the images, we will need to link
  <script src="https://product-gallery.cloudinary.com/all.js" type="text/javascript">  
</script>
 --}}
<h1>Welcome to the profile page</h1>
