<h1 class="title-text">Sign Up</h1>

<div class="card mx-auto text-center form-style col-sm-12 col-md-6 col-lg-4">
  <div class="card-body d-grid gap-3 login-form justify-content-center">
    <div>
      <input
        class="input-style"
        type="text"
        placeholder="enter your username (required)"
        id="username-input-signup"
      />
    </div>
    <div>
      <input
        class="input-style"
        type="text"
        placeholder="enter your email (required)"
        id="email-input-signup"
      />
    </div>
    <div>
      <input
        class="input-style"
        type="password"
        placeholder="enter your password (required)"
        id="password-input-signup"
      />
    </div>
    <div>
      <input
        class="input-style"
        type="password"
        placeholder="confirm your password (required)"
        id="passwordcheck-input-signup"
      />
    </div>
    <div class="justify-content-center pb-2">
      <a href="/profile">
        <button type="submit" id="signup-btn" class="btn form-btn">Sign Up</button>
      </a>
    </div>
  </div>
</div>
<div class="mx-auto text-center login-link">
  <a href="/login">Already have an account? Log In here!</a>
</div>

<script src="/js/signup.js"></script>