{{!-- signup card --}}
<div class="card mx-auto text-center form-style col-sm-12 col-md-6 col-lg-4 ">
  <div class="form-header pt-3">
    Sign Up
  </div>
  <div class="card-body d-grid gap-3 background-color">
    <div>
      <input class="input-style" type="text" placeholder="enter your username..." id="username-input-signup" />
    </div>
    <div>
      <input class="input-style" type="text" placeholder="enter your email..." id="email-input-signup" />
    </div>
    <div>
      <input class="input-style" type="password" placeholder="enter your password..." id="password-input-signup" />
    </div>
    <div>
      <input class="input-style" type="password" placeholder="confirm your password..."
        id="passwordcheck-input-signup" />
    </div>
    <div class="justify-content-center pb-2">
      <button type="submit" id="signup-btn" class="btn form-btn">Sign Up</button>
    </div>
  </div>
</div>
<div class="mx-auto text-center">
  <a href="/login">Already have an account? Log In here!</a>
</div>


<script src="/js/signup.js"></script>